* {
	text-decoration: none;
	padding: auto;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 70%;
	margin: 7rem auto;
	padding: 2rem 0;
	border-radius: 30px;
	text-align: center;
	background-color: rgb(197, 240, 226);
}

.JamiuImg {
	border-radius: 9px;
	width: 40%;
}

a {
	font-weight: 600;
	color: orange;
	padding: 0.5rem;
	border-radius: 7px;
	margin: 3rem 0;
}

a:hover {
	color: #ffff;
	background-color: black;
	transition: ease-in 0.5s;
}
